html {
	font-size: 62.5%;
}
.chat-header {
	width: 100%;
	left: 0;
	top:0;
	position: fixed;
	height: 5.0rem;
	line-height: 5.0rem;
	font-size: 2.0rem;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
}

.chat {
	margin-top: 5.0rem;
	margin-bottom: 5.0rem;
	position: relative;
}


.chat-footer {
	width: 100%;
	height: 4.0rem;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #DEDEDE;
	/*padding: 15%;*/
}
.chat-input {
	margin-left: 10%;
	width: 60%;
	height: 100%;
}
.chat-send {
	float: right;
	width: 20%;
	height: 100%;
}
.in {
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	
}

.sayline {
	text-align: left;
}

.sayline.right {
	text-align: right;
}
.sayline.right .headimg {
	float: right;
}
.sayline.right .sayname {
	margin:0 6.5rem 0 0;
}
.sayline.right .sayinfo {
	margin:0 6.5rem 0 0;
}



.headimg{
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	float: left;
}

.sayname {
	margin: 0 0 0 6.5rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 1.4rem;
	text-align: inherit;
}
.sayinfo{
	margin: 0 0 0 6.5rem;
	line-height: 4rem;
	font-size: 1.6rem;
	text-align: inherit;
}


